* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-volver {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: rgb(233, 138, 83);
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start; 
    margin-left: 20px;
     box-shadow: 0 5px 15px rgba(233, 138, 83, 0.658);
}
.video2{
    width: 150vh;
}
.principal2 {
    text-align: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(./Img/Imagen1.png);
}

.titulo-principal2 {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: bold;
}

.princi-descripcion2 {
    font-size: 18px;
    margin-bottom: 30px;
}


.comic2 {
    width: 100%;
    padding: 60px 20px;
}

.titulo-comic2 {
    font-size: 36px;
    font-weight: bold;
}

.texto-comic2 {
    margin: 10px 0 25px;
}

.comic-contenido2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comic-imagen2 {
    width: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comic-subtitulo2{
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) {
    .titulo-principal2 {
        font-size: 56px;
    }

    .princi-descripcion2 {
        font-size: 20px;
        max-width: 70%;
        margin: 0 auto 30px;
    }


    .comic-imagen2 {
        width: 350px;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
    }

}

@media (min-width: 768px) {
   
    .principal2 {
        padding: 120px 20px;
    }

    .titulo-principal2 {
        font-size: 64px;
    }

    .princi-descripcion2 {
        font-size: 22px;
        max-width: 55%;
    }
    .comic-contenido2 {
        gap: 40px;
    }

    .comic-imagen2 {
        width: 400px;
    }

    .comic-subtitulo2 {
        font-size: 22px;
        margin-top: 40px;
    }

}

@media (min-width: 600px) {
    .titulo-principal2 {
        font-size: 56px;
    }

    .princi-descripcion2 {
        font-size: 20px;
        max-width: 70%;
        margin: 0 auto 30px;
    }

    .comic-imagen2 {
        width: 480px;
    }

}

@media (min-width: 900px) {
    
    
    .principal2 {
        padding: 120px 20px;
    }

    .titulo-principal2 {
        font-size: 64px;
    }

    .princi-descripcion2 {
        font-size: 22px;
        max-width: 55%;
    }
    .comic-contenido2 {
        flex-direction: row;
        gap: 40px;
    }

    .comic-imagen2 {
        width: 400px;
    }

    .comic-subtitulo2 {
        font-size: 22px;
        margin-top: 40px;
    }

}
