/* escenas.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(13, 13, 13); 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    animation: entrada 1s ease-out forwards;
}

@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-volver {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: rgb(233, 138, 83);
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start; 
    margin-left: 20px;
     box-shadow: 0 5px 15px rgba(233, 138, 83, 0.658);
}

.btn-volver:hover {
    background-color: rgb(233, 138, 83);
    transform: translateY(-2px);
}

.comic2 {
    width: 90%;
    max-width: 1200px; 
    padding: 20px 0;
    margin-top: 30px;
}

.titulo-comic2 {
    font-size: 36px;
    font-weight: bold;
    color: rgb(233, 138, 83);
    display: inline-block;
    border-bottom: 3px solid rgb(233, 138, 83);
    padding-bottom: 5px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
}

.texto-comic2 { 
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    margin: 10px 0 30px;
    font-weight: bold;
}

.comic-contenido2 {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgb(26, 26, 26);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.502);
    gap: 20px;
}

.video2 {
    width: 100%;
    max-width: 900px;
    height: auto;
    border-radius: 10px;
    border: 3px solid rgb(233, 138, 83); 
    box-shadow: 0 0 20px rgba(255, 153, 0, 0.4); 
}

.info-comic2 {
    color: rgb(255, 255, 255);
    padding: 15px;
    background-color: rgb(34, 34, 34);
    border-left: 3px solid rgb(233, 138, 83);
    border-radius: 0 5px 5px 0;
    width: 100%;
    max-width: 900px;
}

@media (min-width: 900px) {
    .comic2 {
        padding: 60px 20px;
    }
    
    .comic-contenido2 {
     
        justify-content: center;
    }
}
