* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.container {
    position: relative;
    width: 750px;
    height: 500px;
    min-width: 750px;
    overflow: hidden;
}

.contador {
    position: absolute;
    text-align: center;
    background-color: #aa50a3b0;
    color: white;
    border-radius: 5px;
    z-index: 1;
    padding: 20px;
    margin: auto;
    left: -149px;
    right: 0;
    width: 154px;
    top: 10px;
}

.fondo {
    position: absolute;

}

.perso {
    position: absolute;
    width: 110px;
    bottom: 44%;
    left: 15%;
}

.perso:hover {
    transform: scale(1.1);
}

.nube {
    position: absolute;
    width: 158px;
    top: 15%;
}

.animada {
    animation: moverNube 8s linear infinite alternate;
}

@keyframes moverNube {
    0% {
        left: -10px;
    }

    100% {
        left: 430px;
    }
}

.item {
    position: absolute;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.1);
}
.corazon {
    width: 40px;
    top: 8%;
    left: 59%;
}

.corazon2 {
    width: 40px;
    top: 8%;
    left: 65%;
}

.corazon3 {
    width: 40px;
    top: 8%;
    left: 71%;
}

.lampara {
    width: 70px;
    bottom: 42%;
    left: 5%;
}

.lampara:hover {
    transform: scale(1.1);
}

.moneda {
    width: 40px;
    top: 28%;
    left: 45%;
}


.moneda2 {
    width: 40px;
    top: 25%;
    left: 66%;
}

.saltar {
    animation: mone 1s ease forwards;
}

/* forward se ejecuta una vez */

/* Animacion moneda */

@keyframes mone {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    30% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.tierra {
    position: absolute;
}

.medio {
    width: 102px;
    bottom: 255px;
}

.chica {
    width: 120px;
    top: 32%;
}

/* animacion tierra */

.bloque {
    animation: moverBloque 0.4s ease infinite alternate;
}

@keyframes moverBloque {
    0% {
        left: 40%;
    }

    100% {
        left: 41%;
    }
}

.bloque2 {
    animation: moverBloque2 0.4s ease infinite alternate;
}

@keyframes moverBloque2 {
    0% {
        left: 60%;
    }

    100% {
        left: 61%;
    }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */


.juego2 {
    position: relative;
    width: 750px;
    height: 500px;
    min-width: 750px;

}

.contador2 {
    position: absolute;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1;
    padding: 20px;
    margin: auto;
    left: -108px;
    right: 0;
    width: 154px;
    top: 10px;
}

.fondo2 {
    position: absolute;
    z-index: 0;
}

.prince {
    position: absolute;
    width: 96px;
    bottom: 305px;
    left: 53%;
    z-index: 2;
}

.prince:hover {
    transform: scale(1.1);
}

.estrella {
    position: absolute;
    width: 50px;
    cursor: pointer;
    z-index: 2;
    animation: girar 3s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.saltar {
    animation: desaparecer 1s ease forwards;
}

@keyframes desaparecer {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.punto1 {
    top: 33%;
    left: 10%
}

.punto2 {
    top: 25%;
    left: 35%;
}


.planta {
    position: absolute;
    width: 100px;
    bottom: 57px;
}

.platatubo {
    width: 69px;
    bottom: 174px;
    left: 33%;
    animation: subirBajar 0.5s ease-in-out infinite alternate;
}

.solita {
    width: 70px;
    bottom: 174px;
    left: 64%;
    animation: subirBajar 0.5s ease-in-out infinite alternate;
}

@keyframes subirBajar {
    0% {
        bottom: 174px;
    }

    100% {
        bottom: 180px;
    }
}


.bloquejito {
    position: absolute;
    width: 700px;
}

.bloquejito1 {
    bottom: -13px;
    right: 311px;
}

.bloquejito2 {
    left: 86px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

.juego3 {
    position: relative;
    width: 750px;
    height: 500px;
    min-width: 750px;
    margin-top: 53px;
}

.fondo3 {
    position: absolute;
}

.contador3 {
    position: absolute;
    text-align: center;
    background-color: #2b38adbb;
    border-radius: 5px;
    z-index: 1;
    padding: 20px;
    margin: auto;
    left: -108px;
    right: 0;
    width: 154px;
    top: 10px;
}


.conejo {
    position: absolute;
    width: 90px;
    bottom: 170px;
    left: 72%;
    animation: saltarConejo 2s ease-in-out infinite alternate;
}

@keyframes saltarConejo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
    }
}

.caja {
    position: absolute;
    width: 50px;
    cursor: pointer;
}

.n1 {
    top: 19%;
    left: 33%;
}

.n2 {
    top: 28%;
    left: 61%;
}

.n3 {
    top: 49%;
    left: 40%
}

.grande {
    position: absolute;
    width: 227px;
}

.bloquetierra {
    bottom: 280px;
    left: 156px;
}

.bloquetierra2 {
    bottom: 235px;
    left: 356px;
}

 .tronco {
    position: absolute;
    width: 93px;
    bottom: 179px;
    cursor: pointer;;
    left: 16%;
}

.arbolito {
    position: absolute;
    width: 170px;
    bottom: 181px;
    left: -1%;
    cursor: pointer;
} 

.arbolito:hover{
transform: scale(1.1);
}

.tronco:hover {
    transform: scale(1.1);
}


