* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

.container {
    position: relative;
    width: 750px;
    height: 500px;
    min-width: 750px;
}


.fondo {
    position: absolute;
    width: 100%;
    height: 100%;
}

.perso {
    position: absolute;
    width: 110px;
    bottom: 110px;
    left: 15%;
}

.nube {
    position: absolute;
    width: 200px;
    top: 15%;
}

.animada {
    animation: moverNube 8s linear infinite alternate;
}

@keyframes moverNube {
    0% {
        left: -10px;
    }

    100% {
        left: 560px;
    }
}

.item {
    position: absolute;
    cursor: pointer;
}

.corazon {
    width: 40px;
    top: 8%;
    left: 80%;
}

.corazon2 {
    width: 40px;
    top: 8%;
    left: 87%;
}

.corazon3 {
    width: 40px;
    top: 8%;
    left: 94%;
}

.lampara {
    width: 70px;
    bottom: 20%;
    left: 5%;
}


.moneda {
    width: 40px;
    top: 42%;
    left: 48%;
}


.moneda2 {
    width: 40px;
    top: 25%;
    left: 72%;
}

.saltar{
    animation: mone 4s ease forwards;
}  
/* forward se ejecuta una vez */

/* Animacion moneda */

@keyframes mone {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    30% {
        transform: translateY(-60px);
    }

    100% {transform: translateY(0); opacity: 0;}
}

.tierra {
    position: absolute;
}

.medio {
    width: 150px;
    bottom: 150px;
    left: 300px;
}

.chica {
    width: 120px;
    bottom: 250px;
    left: 500px;
}

/* animacion tierra */

.bloque{
    animation: moverBloque 0.4s ease infinite alternate;
}
@keyframes moverBloque {
    0% {left: 40%;}
    100% {left: 41%;}
}

.bloque2{
    animation: moverBloque2 0.4s ease infinite alternate;
}

@keyframes moverBloque2 {
    0% {left: 66%;}
    100% {left: 67%;}
}