* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.6;
}

.inicio{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}