* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d0d0d;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PRINCIPAL */
.principal {
    text-align: center;
    width: 100%;
    height: 90vh;
    background-image: url(./Img/Imagen1.png);
    background-size: cover;
    background-position: center;
    position: relative;
    animation: carruselFondo 20s infinite alternate;
}

/* Animaciones */

@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes carruselFondo {
    0% {
        background-image: url(./Img/Imagen1.png);
    }

    33% {
        background-image: url(./Img/España.jpeg);
    }

    66% {
        background-image: url(./Img/Guerra.jpeg);
    }

    100% {
        background-image: url(./Img/Conversion.jpeg);
    }
}

.personajes-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(236, 126, 75, 0.5);
    transition: all 0.3s ease-in-out;
}

.escena-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(236, 126, 75, 0.5);
    transition: all 0.3s ease-in-out;
}

.btn-princi:hover {
    background-color: #ffffff;
    color: #000000;
}

.carrusel-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.4);
}


.titulo-principal {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgb(233, 138, 83);
}

.princi-descripcion {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-princi {
    padding: 12px 30px;
    background-color: rgb(233, 138, 83);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 5px 15px rgba(233, 138, 83, 0.658);
}

/* MARCA */
.marca {
    width: 90%;
    padding: 27px 20px;
    animation: entrada 1s ease-out forwards;
}

.titulo-marca {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    display: inline-block;
    border-bottom: 2px solid rgb(233, 138, 83);
    padding-bottom: 5px;
    margin-bottom: 25px;
}



/* COMIC */
.comic {
    width: 90%;
    padding: 27px 20px;
    animation: entrada 1s ease-out forwards;
}

.titulo-comic {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid rgb(233, 138, 83);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.texto-comic {
    font-size: 20px;
    color: #ffffff;
    margin: 10px 0 35px;
}

.comic-contenido {
    padding: 20px;
 background-color: #1a1a1a; 
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.comic-info{
    text-align: center;
}

.comic-imagen {
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.info-comic {
  margin-top: 15px;
    text-align: left; 
    padding-left: 10px;
    border-left: 2px solid rgb(233, 138, 83)
}

/* PERSONAJES */

.personajesId {
    text-decoration: none;
    color: white;
}

.personajes {
    padding: 20px;
    width: 90%;
    animation: entrada 1s ease-out forwards;
}

.titulo-personajes {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid rgb(233, 138, 83);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.personajes-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 20px;
}

.personajes-item {
      width: 180px;
    height: 220px;
    background-color: #1b1b1b;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgb(233, 138, 83);
    transition: all 0.3s ease-in-out;
}

.personajes-imagen {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-bottom: 1px solid #333;
}

.personajes-nombre {
     padding: 10px;
    font-size: 14px;
}

/* ESCENAS */
.escenasId {
    text-decoration: none;
    color: white;
}

.escenas {
    padding: 20px;
    width: 90%;
    animation: entrada 1s ease-out forwards;
}

.titulo-escenas {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    border-bottom: 2px solid rgb(233, 138, 83);
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.escenas-lista {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 20px;
}

.escena-item {
    width: 180px;
    height: 220px;
    background-color: #1b1b1b;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    border: 1px solid rgb(233, 138, 83);
    transition: all 0.3s ease-in-out;
}

.escena-imagen {
    width: 100%;
    height: 75%;
    object-fit: cover;
    border-bottom: 1px solid #333;
}

.escena-nombre {
    padding: 10px;
    font-size: 14px;
}

/* FOOTER */
.footer {
    margin-top: 60px;
    padding: 40px;
    text-align: center;
}

@media (min-width: 320px) {

    
    .titulo-principal {
        font-size: 48px;
        margin-bottom: 10px;
        font-weight: bold;
        text-shadow: 2px 2px 5px 
    }
    
    .princi-descripcion {
        font-size: 18px;
        margin-bottom: 30px;
    }
    

    .texto-marca {
         font-size: 20px;
        text-align: justify;
    }


    .comic-contenido {
        display: flex;
        flex-direction: column; 
        background-color: #1a1a1a; 
        border-radius: 10px;
        padding: 20px;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .comic-info-wrapper {
        width: 100%;
    }

    .comic-imagen {
        width: 300px; 
        max-width: 100%;
        border-radius: 10px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }

    .comic-subtitulo {
        font-size: 18px; 
        text-align: center;
        margin-bottom: 15px;
    }

    .info-comic {
        margin-top: 15px;
        text-align: left; 
        padding-left: 10px;
        border-left: 2px solid rgb(233, 138, 83);
    }

  
    .personajes-lista{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        margin-top: 20px;
    }
     .escenas-lista {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        margin-top: 20px;
    }

    .personajes-item {
        width: 150px; 
        height: 200px; 
        border-radius: 8px;
        text-align: center;
    }
    .escena-item {
        width: 150px; 
        height: 200px; 
        border-radius: 8px;
        text-align: center;
    }

    .personajes-imagen{
        width: 100%;
        height: 70%; 
        object-fit: cover;
        border-bottom: 1px solid #333;
    }
     .escena-imagen {
        width: 100%;
        height: 70%; 
        object-fit: cover;
        border-bottom: 1px solid #333;
    }

    .personajes-nombre, .escena-nombre {
        padding: 10px;
        font-size: 14px;
    }
}
@media (min-width: 768px) {
    
    .titulo-principal {
        font-size: 64px;
    }

    .princi-descripcion {
        font-size: 22px;
        max-width: 60%;
    }

    .personajes-item{
        width: 180px; 
        height: 230px;
    }
    
    .escena-item {
        width: 180px; 
        height: 230px;
    }
    
    .personajes-lista, .escenas-lista {
        gap: 30px;
    }
}

@media (min-width: 900px) {
    
    .comic-contenido {
        flex-direction: row; 
        align-items: flex-start;
        gap: 40px;
        background-color: #1a1a1a; 
        border-radius: 10px;
        padding: 40px;
    }
    
    .comic-imagen {
        width: 400px; 
    }

    .comic-subtitulo {
        font-size: 22px; 
        text-align: left;
    }
    
   
    .personajes-item {
        width: 200px;
        height: 260px;
    }
    
    .escena-item {
        width: 200px;
        height: 260px;
    }

    .personajes-nombre{
        font-size: 16px;
    }

     .escena-nombre {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {

    .titulo-principal {
        font-size: 72px;
    }

    .princi-descripcion {
        font-size: 24px;
        max-width: 50%;
    }
}