* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*  PRINCIPAL  */

.principal {
    text-align: center;
    padding: 80px 20px;
    width: 100%;
}

.titulo-principal {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: bold;
}

.princi-descripcion {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-princi {
    padding: 12px 30px;
    background-color: #4a76ff;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}



/*  MARCA   */

.marca {
    width: 100%;
    padding: 60px 20px;
}

.titulo.marca {
    font-size: 36px;
    font-weight: bold;
}

.texto-marca {
    margin: 10px 0 30px;
}

.marca-lista {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.marca-item {
    padding: 20px;
    background-color: #1b1b1b;
    border-radius: 12px;
    width: 150px;
    text-align: center;
    border: 1px solid #333;
}

.btn-anterior{
    margin: 20px 10px;
    padding: 12px 25px;
    color: white;
    background-color: #4a76ff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.btn-siguiente {
    margin: 20px 10px;
    padding: 12px 25px;
    color: white;
    background-color: #4a76ff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}


/* COMIC */ 

.comic {
    width: 100%;
    padding: 60px 20px;
}

.titulo-comic {
    font-size: 36px;
    font-weight: bold;
}

.texto-comic {
    margin: 10px 0 25px;
}

.comic-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comic-imagen {
    width: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
}


/* TIENDA  */

.tienda {
    width: 100%;
    padding: 60px 20px;
}

.titulo-tienda {
    font-size: 32px;
    font-weight: bold;
}

.tienda-contenedor {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tienda-info {
    background-color: #1b1b1b;
    padding: 25px;
    border-radius: 12px;
}


/*  VIDEO   */
.video {
    background-color: #1b1b1b;
    padding: 25px;
    border-radius: 12px;
}

.btn-video {
    padding: 10px 20px;
    background-color: #4a76ff;
    color: white;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

/* 
 NARRATIVA  */

.narrativa {
    background-color: #1b1b1b;
    padding: 25px;
    border-radius: 12px;
}

.narrativa-imagen {
    margin-top: 15px;
    background-color: #333;
    padding: 40px;
    border-radius: 12px;
    text-align: center;
}



/*  PERSONAJES */
.personajes {
    padding: 20px;
}

.titulo-personajes {
    font-size: 28px;
    font-weight: bold;
}

.personajes-lista {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.personaje-item {
    background-color: #1b1b1b;
    width: 120px;
    padding: 15px;
    border-radius: 12px;
    text-align: center;
}



 /* CAPÍTULOS */

.capitulos {
    background-color: #111;
    padding: 30px;
    border-radius: 15px;
}

.capitulos-lista {
    display: flex;
    gap: 20px;
    margin: 25px 0;
}

.capitulo-item {
    padding: 20px;
    width: 150px;
    background-color: #1b1b1b;
    border-radius: 12px;
    text-align: center;
}




/*  FOOTER  */ 
.footer {
    margin-top: 60px;
    padding: 40px;
    text-align: center;
}

@media (min-width: 320px) {

    .titulo-principal {
        font-size: 56px;
    }

    .princi-descripcion {
        font-size: 20px;
        max-width: 70%;
        margin: 0 auto 30px;
    }

    /* MARCA */
    .marca-lista {
        gap: 30px;
    }

    .marca-item {
        width: 180px;
        padding: 25px;
    }

    /* COMIC */
    .comic-imagen {
        width: 480px;
    }

    /* PERSONAJES */
    .personajes-lista {
        justify-content: center;
        flex-wrap: wrap;
    }

    .personaje-item {
        width: 150px;
        padding: 20px;
    }

    /* CAPITULOS */
    .capitulos-lista {
        justify-content: center;
        flex-wrap: wrap;
    }

    .capitulo-item {
        width: 180px;
        padding: 22px;
    }
}

@media (min-width: 768px) {

    body {
        padding: 0 5%;
    }

    /* PRINCIPAL */
    .principal {
        padding: 120px 20px;
    }

    .titulo-principal {
        font-size: 64px;
    }

    .princi-descripcion {
        font-size: 22px;
        max-width: 55%;
    }

    /* MARCA */
    .marca-lista {
        justify-content: center;
        gap: 50px;
    }

    .marca-item {
        width: 220px;
        padding: 30px;
    }

    /* COMIC */
    .comic-contenido {
        flex-direction: row;
        gap: 40px;
    }

    .comic-imagen {
        width: 400px;
    }

    .comic-subtitulo {
        font-size: 22px;
        margin-top: 40px;
    }

    .tienda-contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }

    .tienda-info,
    .video,
    .narrativa {
        height: 100%;
    }

    /* PERSONAJES → 3 columnas */
    .personajes-lista {
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .personaje-item {
        width: 180px;
        padding: 25px;
    }

    /* CAPITULOS → 3 columnas */
    .capitulos-lista {
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .capitulo-item {
        width: 220px;
        padding: 30px;
    }

    /* FOOTER */
    .footer {
        padding: 60px 20px;
        font-size: 18px;
    }
}

