* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.principal3 {
    text-align: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(./Img/Imagen1.png);
}

.titulo-principal3 {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: bold;
}

.princi-descripcion3 {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn-princi3 {
    padding: 12px 30px;
    background-color: #4a76ff;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.comic3 {
    width: 100%;
    padding: 60px 20px;
}

.titulo-comic3 {
    font-size: 36px;
    font-weight: bold;
}

.texto-comic3 {
    margin: 10px 0 25px;
}

.comic-contenido3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comic-imagen3 {
    width: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comic-subtitulo3{
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) {
    .titulo-principal3 {
        font-size: 56px;
    }

    .princi-descripcion3 {
        font-size: 20px;
        max-width: 70%;
        margin: 0 auto 30px;
    }


    .comic-imagen3 {
        width: 350px;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
    }

}

@media (min-width: 768px) {
   
    .principal3 {
        padding: 120px 20px;
    }

    .titulo-principal3 {
        font-size: 64px;
    }

    .princi-descripcion3 {
        font-size: 22px;
        max-width: 55%;
    }
    .comic-contenido3 {
        gap: 40px;
    }

    .comic-imagen3 {
        width: 400px;
    }

    .comic-subtitulo3 {
        font-size: 22px;
        margin-top: 40px;
    }

}

@media (min-width: 600px) {
    .titulo-principal3 {
        font-size: 56px;
    }

    .princi-descripcion3 {
        font-size: 20px;
        max-width: 70%;
        margin: 0 auto 30px;
    }

    .comic-imagen3 {
        width: 480px;
    }

}

@media (min-width: 900px) {
    
    
    .principal3 {
        padding: 120px 20px;
    }

    .titulo-principal3 {
        font-size: 64px;
    }

    .princi-descripcion3 {
        font-size: 22px;
        max-width: 55%;
    }
    .comic-contenido3 {
        flex-direction: row;
        gap: 40px;
    }

    .comic-imagen3 {
        width: 400px;
    }

    .comic-subtitulo3 {
        font-size: 22px;
        margin-top: 40px;
    }

}
