* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-volver {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: rgb(233, 138, 83);
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start;
    margin-left: 20px;
    box-shadow: 0 5px 15px rgba(233, 138, 83, 0.658);
}

.comic3 {
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.principal {}

.titulo-comic3 {
    font-size: 36px;
    font-weight: bold;
}

.texto-comic3 {
    margin: 10px 0 25px;
}

.comic-contenido3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comic-imagen3 {
    width: 350px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.comic-subtitulo3 {
    display: flex;
    justify-content: center;
}

@media (min-width: 320px) {

    .comic-imagen3 {
        width: 350px;
        height: auto;
        border-radius: 12px;
        object-fit: cover;
    }

}

@media (min-width: 768px) {

    .comic-contenido3 {
        gap: 40px;
    }

    .comic-imagen3 {
        width: 400px;
    }

    .comic-subtitulo3 {
        font-size: 22px;
        margin-top: 40px;
    }

}

@media (min-width: 600px) {

    .comic-imagen3 {
        width: 480px;
    }

}

@media (min-width: 900px) {

    .comic-contenido3 {
        flex-direction: row;
        gap: 40px;
    }

    .comic-imagen3 {
        width: 400px;
    }

    .comic-subtitulo3 {
        font-size: 22px;
        margin-top: 40px;
    }

}