* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(13, 13, 13); 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
    animation: entrada 1s ease-out forwards;
}

@keyframes entrada {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.btn-volver {
    margin: 20px 0;
    padding: 10px 20px;
    background-color: rgb(233, 138, 83);
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-start; 
    margin-left: 20px;
     box-shadow: 0 5px 15px rgba(233, 138, 83, 0.658);
}

.btn-volver:hover {
    background-color: rgb(233, 138, 83);
    transform: translateY(-2px);
}


.comic3 {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgb(26, 26, 26); 
    margin-top: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.comic-contenido3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}

.comic-imagen3 {
    width: 100%; 
    max-width: 350px; 
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid rgb(233, 138, 83); 
    box-shadow: 0 0 25px rgba(255, 153, 0, 0.3);
}


.principal {
    width: 100%;
    padding: 0 10px;
    text-align: center; /
}

.texto-comic3 { 
    font-weight: bold;
    color: rgb(233, 138, 83);
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(51, 51, 51); 
    padding-bottom: 5px;
}

.info-comic3 { 
    color: rgb(255, 255, 255);
    text-align: justify; 
}

@media (min-width: 900px) {

    .comic3 {
        flex-direction: row; 
        gap: 60px;
        padding: 50px;
    }

    .comic-contenido3 {
        max-width: 400px;
    }
    
    .comic-imagen3 {
        width: 400px;
    }

    .principal {
        padding: 0;
        text-align: left; 
    }


}