* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.btn-siguiente {
    position: relative;
    background-color: #7c97beb0;
    color: white;
    border-radius: 30px;
    padding: 14px;
    left: 450px;
    top: -257px
}

.btn-anterior{
    position: relative;
    background-color: #7c97beb0;
    color: white;
    border-radius: 30px;
    padding: 14px;
    right: 450px;
    top: -300px;
}

.activa{
    display: block!important;
}

.escena{
    display: none;
}

.container {
    position: relative;
    width: 750px;
    height: 500px;
    min-width: 750px;
    margin-top: 40px;
}

.contador {
    position: absolute;
    text-align: center;
    background-color: #aa50a3b0;
    color: white;
    border-radius: 5px;
    z-index: 1;
    padding: 20px;
    margin: auto;
    left: 18px;
    right: 0;
    width: 154px;
    top: 10px;
}

.fondo {
    position: absolute;
    width: 750px;
    height: 500px;
    min-width: 750px;
}


.perso {
    position: absolute;
    width: 110px;
    bottom: 24%;
    left: 15%;
}

.perso:hover {
    transform: scale(1.1);
}
.salto {
    animation: salto-arriba 0.5s ease-out forwards; /* The forwards keeps it at the end state of the animation */
}

@keyframes salto-arriba {
    0% {
        transform: translateY(0); /* Start at current position */
    }
    50% {
        transform: translateY(-80px); /* Move up 80px */
    }
    100% {
        transform: translateY(0); /* Return to original position */
    }
}
.nube {
    position: absolute;
    width: 201px;
    top: 15%;
}

.animada {
    animation: moverNube 8s linear infinite alternate;
}

@keyframes moverNube {
    0% {
        left: -10px;
    }

    100% {
        left: 430px;
    }
}

.item {
    position: absolute;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.1);
}

.corazon {
    width: 49px;
    top: 8%;
    left: 78%;
}

.corazon2 {
    width: 49px;
    top: 8%;
    left: 85%;
}

.corazon3 {
    width: 49px;
    top: 8%;
    left: 92%;
}

.lampara {
    width: 70px;
    bottom: 22%;
    left: 5%;
}

.lampara:hover {
    transform: scale(1.1);
}

.moneda {
    width: 45px;
    top: 39%;
    left: 47%;
}


.moneda2 {
    width: 45px;
    top: 23%;
    left: 76%;
}

.saltar {
    animation: mone 1s ease forwards;
}

/* forward se ejecuta una vez */

/* Animacion moneda */

@keyframes mone {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    30% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.tierra {
    position: absolute;
}

.medio {
    width: 135px;
    bottom: 35%;
}

.chica {
    width: 126px;
    top: 35%;
}

/* animacion tierra */

.bloque {
    animation: moverBloque 0.4s ease infinite alternate;
}

@keyframes moverBloque {
    0% {
        left: 40%;
    }

    100% {
        left: 41%;
    }
}

.bloque2 {
    animation: moverBloque2 0.4s ease infinite alternate;
}

@keyframes moverBloque2 {
    0% {
        left: 70%;
    }

    100% {
        left: 71%;
    }
}

.cuadro {
    border-radius: 5px;
    width: 204px;
    height: 132px;
    margin: 10px;
}
.cuadro1{
    background-image: url(img/1.png);
    background-size: cover;
}
.cuadro2{
    background-image: url(img/2.png);
    background-size: cover;
}
.cuadro3{
    background-image: url(img/3.png);
    background-size: cover;
}

.pato {
    display: flex;
    justify-content: center;
    margin-top: -10px;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////// */


.juego2 {
    position: relative;
    width: 750px;
    height: 500px;
    min-width: 750px;
    margin-top: 53px;
    
}

.contador2 {
    position: absolute;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1;
    padding: 20px;
    margin: auto;
    left: 18px;
    right: 0;
    width: 154px;
    top: 10px;
}

.fondo2 {
    position: absolute;
    z-index: 0;
    width: 750px;
    height: 500px;
    min-width: 750px;
}

.prince {
    position: absolute;
    width: 96px;
    bottom: 305px;
    left: 53%;
    z-index: 2;
}

.prince:hover {
    transform: scale(1.1);
}

.estrella {
    position: absolute;
    width: 50px;
    cursor: pointer;
    z-index: 2;
    animation: girar 3s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.saltar {
    animation: desaparecer 1s ease forwards;
}

@keyframes desaparecer {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    50% {
        transform: translateY(-60px);
    }

    100% {
        transform: translateY(0);
        opacity: 0;
    }
}

.punto1 {
    top: 33%;
    left: 10%
}

.punto2 {
    top: 43%;
    left: 31%;
}

.punto3 {
    top: 50%;
    left: 65%;
}

.planta {
    position: absolute;
    width: 100px;
    bottom: 57px;
}

.platatubo {
    width: 69px;
    left: 29%;
    animation: subirBajar 0.5s ease-in-out infinite alternate;
}

.solita {
    width: 70px;
    bottom: 174px;
    left: 64%;
    animation: subirBajar 0.5s ease-in-out infinite alternate;
}

@keyframes subirBajar {
    0% {
        bottom: 80px;
    }

    100% {
        bottom: 90px;
    }
}


.bloquejito {
    position: absolute;
    width: 700px;
}

.bloquejito1 {
    bottom: -13px;
    right: 311px;
}

.bloquejito2 {
    left: 86px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////// */

.juego3 {
    position: relative;
    width: 750px;
    height: 500px;
    min-width: 750px;
    margin-top: 53px;
    
}

.fondo3 {
    position: absolute;
    width: 750px;
    height: 500px;
    min-width: 750px;
}

.contador3 {
    position: absolute;
    text-align: center;
    background-color: #2b38adbb;
    border-radius: 5px;
    z-index: 1;
    padding: 20px;
    margin: auto;
    left: 18px;
    right: 0;
    width: 154px;
    top: 10px;
}


.conejo {
    position: absolute;
    width: 90px;
    bottom: 116px;
    left: 85%;
    animation: saltarConejo 2s ease-in-out infinite alternate;
}

@keyframes saltarConejo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.caja {
    position: absolute;
    width: 50px;
    cursor: pointer;
}

.n1 {
    top: 19%;
    left: 33%;
}

.n2 {
    top: 28%;
    left: 67%;
}

.n3 {
    top: 49%;
    left: 40%
}

.grande {
    position: absolute;
    width: 227px;
}

.bloquetierra {
    bottom: 280px;
    left: 156px;
}

.bloquetierra2 {
    bottom: 235px;
    left: 412px;
}

.tronco {
    position: absolute;
    width: 93px;
    bottom: 126px;
    cursor: pointer;
    left: 16%;
}

.arbolito {
    position: absolute;
    width: 170px;
    bottom: 126px;
    left: -1%;
    cursor: pointer;
}

.arbolito:hover {
    transform: scale(1.1);
}

.tronco:hover {
    transform: scale(1.1);
}